.DS_Store
.AppleDouble
.LSOverride

.vscode/
.idea/
*.swp
*.swo

*.log
*.tmp
*.bak
*.old

__pycache__/
*.pyc
.venv/
env/
venv/

*.pid
*.sock
.env

*.tar
*.zip
*.gz


# Terraform local directories
.terraform/

# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Crash logs
crash.log

# Override files (якщо є)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration
.terraformrc
terraform.rc
.terraform.tfstate.lock.info
